doctype 5
html
   head
      title Scrum Poker
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
      script(src="/socket.io/socket.io.js")
      |<script type="text/javascript">
      |var loggedInUsers = !{users} || {};
      |</script>  
      script(src="client.js")
   body
      div.container
         header
            h1 Scrum Poker App
         div#loginControls
           input(type='text')#pseudoInput
           button#pseudoSet Login
         div#errorMessage
         div#statusMessage Waiting for voting to open...
         div#votingOptions
         div#voteSent