doctype 5
html
   head
      title Chat
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
      script(src="/socket.io/socket.io.js")
      |<script type="text/javascript">
      |var loggedInUsers = !{users} || {};
      |</script>  
      script(src="client.js")
   body
      div.container
         header
            h1 A Chat application with Node.js and Socket.io
         input(type='text')#pseudoInput
         button#pseudoSet Set Pseudo
         div#errorMessage
         div#chatEntries
         div#chatControls
            input(type='text')#messageInput
            button#submit(disabled=true) Send