doctype 5
html
   head
      title Scrum Poker
      meta(name='viewport',content='width=device-width, initial-scale=1.0')
      link(href='bootstrap/css/bootstrap.css',rel='stylesheet',media='screen')
      link(href='bootstrap/css/bootstrap-theme.css',rel='stylesheet',media='screen')
      link(href='bootstrap/css/signin.css',rel='stylesheet',media='screen')
      link(href='css/cards.css',rel='stylesheet',media='screen')
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
      script(src="/socket.io/socket.io.js")
      |<script type="text/javascript">
      |var loggedInUsers = !{users} || {};
      |</script>  
      script(src="client.js")
   body
      div.container
         header
            h1 Scrum Poker App
         div#welcome
         div#loginControls.container
           form.form-signin
             h2.form-signin-heading Please Sign In
             input(type='text',placeholder='Username',required,autofocus)#pseudoInput.form-control
             button#pseudoSet.btn.btn-lg.btn-primary.btn-block Login
         div#errorMessage
         div#statusMessage Waiting for voting to open...
         div#votingOptions
         div#voteSent
  script(src='bootstrap/js/bootstrap.min.js')