doctype 5
html
   head
      title Chat
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
      script(src="/socket.io/socket.io.js")
      |<script type="text/javascript">
      |var loggedInUsers = !{users} || {};
      |</script>  
      script(src="client.js")
   body
      div.container
         header
            h1 Scrum Poker App
         input(type='text')#pseudoInput
         button#pseudoSet Login
         div#errorMessage
         div#votingOptions
         div#voteSent