doctype 5
html
   head
      title Scrum Master
      meta(name='viewport',content='width=device-width, initial-scale=1.0')
      link(href='bootstrap/css/bootstrap.css',rel='stylesheet',media='screen')
      link(href='bootstrap/css/bootstrap-theme.css',rel='stylesheet',media='screen')
      link(href='bootstrap/css/signin.css',rel='stylesheet',media='screen')
      link(href='css/scrummaster.css',rel='stylesheet',media='screen')
      link(href='css/cards.css',rel='stylesheet',media='screen')
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
      script(src="/socket.io/socket.io.js")    
      |<script type="text/javascript">
      |var loggedInUsers = !{users} || {};
      |</script>  
      script(src="scrummaster.js")
   body
      div.container.scrummaster
         header
            h1 Scrum Master
            
         div#loggedInUsers

         p
           button#reset.btn.btn-default Reset
           button#reveal.btn.btn-default Reveal
         