.card {
  float: left;
  width: 200px;
  height: 100px;
  margin: 5px;
  color: #666;
  border: 3px solid #ddd;
  font-size: 72px;
  font-weight: bold;
  text-align: center;
  cursor:pointer;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

.card:hover {
	background-color:#999;
}

.after-card {
  clear: left;
}